{# On étend notre layout #}
{% extends "::base.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/formulaires.css') }}" type="text/css" />
{% endblock %}

{# Dans notre layout, il faut définir le block body #}
{% block body %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

{% endblock %}
