/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/sessions/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/vendor/
UPGRADE-*.md
/web/uploads/profilePictures/*
/web/uploads/documents/*
/web/js/notifications/node_modules
/web/js/fos_js_routes.js
composer.lock
fos_js_routes.js