{% extends "PILAdminBundle::baseAdmin.html.twig" %}

{% block body %}
<div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Administration <small>Gestion base de données</small></h1>
            <ol class="breadcrumb">
              <li class="active"><a href="{{ path('pil_admin_homepage') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
              <li class="active"><i class="fa fa-edit"></i> Gestion base de données</li>
            </ol>
          </div>
        </div>
    
        <div class="row">
            <h3>En attente des différentes fonctionnalités à développer...</h3>
        </div>
</div>
{% endblock %}
