{% extends "PiloteMainBundle::layout.html.twig" %}

{% block pageTitle %} {{ parent() }} - A propos{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="text-center">A propos</h1>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <img class="img-responsive" src="{{ asset('img/ipad.png') }}" alt="">
        </div>
        <div class="col-lg-7">
            <p>Pilote est un outil collaboratif de suivi de projets basé sur Trello, entièrement gratuit. Développé dans le cadre scolaire par 7 étudiants en 4ème année du cycle ingénieur en informatique de Polytech Tours.
            <br>
            Pilote propose de nombreuses fonctionnalités : </p>
            <ul>
                <li> Génération et visualisation de diagramme de Gantt et de calendrier </li>
                <li> Messagerie interne </li>
                <li> Possibilité de gérer les différents privilèges pour chaque projet </li>
                <li> Et bien d'autres encore ! Inscrivez-vous gratuitement </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
