{#

Copyright (C) 2015 Hamza Ayoub, Valentin Chareyre, Sofian Hamou-Mamar, 
Alain Krok, Wenlong Li, Rémi Patrizio, Yamine Zaidou

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

{% extends "PiloteMainBundle::layout.html.twig" %}

{% block pageTitle %} {{ parent() }} - A propos{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <br>
            <img class="img-responsive" src="{{ asset('img/ipad.png') }}" alt="">
        </div>
        <div class="col-md-7">
            <h1 class="text-center">A propos</h1>
            <p>Pilote est un outil collaboratif de suivi de projets inspiré de Redmine et de Trello, entièrement gratuit et Open Source. Développé dans le cadre scolaire par 7 étudiants en 4ème année du Cycle Ingénieur en Informatique de Polytech Tours, il est depuis maintenu par <a href="https://github.com/Artemis-Haven">Rémi Patrizio</a>.
            <br>
            Pilote propose de nombreuses fonctionnalités : </p>
            <ul>
                <li>Gestion visuelle de tâches, organisées en listes et en étapes</li>
                <li>Génération et visualisation de diagrammes de Gantt et de calendriers </li>
                <li>Messagerie interne </li>
                <li>Pour les entreprises : connexion des utilisateurs via un annuaire LDAP </li>
                <li>Et bien d'autres choses encore ! Inscrivez-vous gratuitement </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
