{% extends "PiloteMainBundle::layout.html.twig" %}

{% block pageTitle %} {{ parent() }} - Contact{% endblock %}

{% block styles %}
	{{ parent() }}
{% endblock %}

{% block body %}
<div class="content-section-a">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6">

				<div class="clearfix"></div>
				<h2 class="section-heading">Nous contacter</h2>
				<hr class="section-heading-spacer">	
				<br>		
				<div id="form">
					<form class="form-signin" action="/PILote/web/app_dev.php/login_check" method="post">
						<br>
						<label for="username">Nom d&#039;utilisateur :</label>
						<input type="text" class="form-control" placeholder="Pseudo" id="username" name="_username" value="" required="required" />
						<br>
						<label for="email">Adresse email :</label><br>
						<input id="email" name="_email" value="" type="email" placeholder="Your email here"/>
						<br><br>
						<label for="message">Message :</label>
						<br>
						<textarea name="_message" placeholder="Your comments here"></textarea>
						<input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Envoyer" />
					</form>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="{{ asset('img/ipad.png') }}" alt="">
			</div>
		</div>
	</div>
</div>

{% endblock %}