{% extends "PiloteMainBundle::layout.html.twig" %}

{% block pageTitle %} {{ parent() }} - Contact{% endblock %}

{% block styles %}
	{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1 class="text-center">Nous contacter</h1>
            <p><br>Pour toute demande d'aide, vous pouvez envoyer un mail à l'adresse suivante : <a href="mailto:remi.patrizio@me.com">remi.patrizio@me.com</a></p>
	        <p>Pour signaler des bugs ou des problèmes, vous pouvez aussi créer un billet de bug <a href="https://github.com/Artemis-Haven/pilote/issues">sur GitHub</a>.</p>
	        <p>Enfin, pour de la documentation technique, référez-vous à la documentation disponible également <a href="https://github.com/Artemis-Haven/pilote/blob/master/README.md">sur GitHub</a>.</p>
        </div>
        <div class="col-md-5">
            <br>
            <img class="img-responsive" src="{{ asset('img/ipad.png') }}" alt="">
        </div>
    </div>
</div>


{% endblock %}