{% extends "::layout.html.twig" %}

{% block pageTitle %} {{ parent() }} - A propos{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="">A propos</h1>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <img class="img-responsive" src="{{ asset('img/ipad.png') }}" alt="">
        </div>
        <div class="col-lg-7">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis feugiat felis. Vivamus eget ante nec purus hendrerit eleifend. Aliquam augue mi, volutpat non hendrerit ac, tristique at turpis. Aliquam eget magna malesuada, egestas erat ac, vulputate libero. Sed dapibus ante id augue blandit hendrerit. Duis purus magna, rhoncus vitae laoreet quis, congue vitae neque. In dictum, odio non lobortis faucibus, lacus ligula sodales libero, nec varius ante odio quis nibh. Aliquam volutpat nunc odio, porttitor lobortis risus blandit eget. Nunc adipiscing purus quis odio congue cursus. Sed viverra augue in fermentum molestie. Integer eu mauris ut ipsum lobortis pellentesque quis non orci. Maecenas at nisi elit. Nunc tempor lacus eu nulla porta auctor. </p>
        </div>
    </div>
</div>
{% endblock %}