{#

Copyright (C) 2015 Hamza Ayoub, Valentin Chareyre, Sofian Hamou-Mamar, 
Alain Krok, Wenlong Li, Rémi Patrizio, Yamine Zaidou

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

{# Page d'inscription sur le site #}

{% extends "PiloteUserBundle::layout.html.twig" %}

    
{% block fos_user_content %}
	{% if not pilote.disable_registration %}
		{% include "FOSUserBundle:Registration:register_content.html.twig" %}
	{% else %}
		<p class="text-danger" ><strong>Accès refusé !</strong> Impossible d'enregistrer de nouveaux utilisateurs. Veuillez contacter l'administrateur.</p>
	{% endif %}
{% endblock fos_user_content %}