{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
	<div class="row">
	    <div class="col-sm-4">
	    	<h1>Nouveau projet</h1>
		    {{ form(form) }}

		    <a class="btn btn-default" href="{{ path('piltasker_accueil') }}">
		        Retour
		    </a>
	    </div>

	</div>
</div>

{% endblock %}
