{#

Copyright (C) 2015 Rémi Patrizio

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

{# Layout de la messagerie. Il inclue la colonne de droite. #}

{% extends "PiloteMainBundle::base.html.twig" %}

{% set simpleThread = constant('\\Pilote\\MessageBundle\\Entity\\Thread::SIMPLE_THREAD') %}
{% set boardThread  = constant('\\Pilote\\MessageBundle\\Entity\\Thread::BOARD_THREAD')  %}
{% set adminThread  = constant('\\Pilote\\MessageBundle\\Entity\\Thread::ADMIN_THREAD')  %}

{% block body %}
	<div class="container" id="messenger">
		<div class="row">
			<div class="col-md-8">
				<h2>{% block message_title %}Messagerie{% endblock %}</h2>
			</div>
			<div class="col-md-4">
				{% block message_menu %}{% endblock %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-sm-12">
				{% block message_content %}{% endblock %}
			</div>
			<div class="col-md-4 hidden-xs hidden-sm">
				{% include 'PiloteMessageBundle::sidebar.html.twig' %}
			</div>
		</div>
	</div>
 {% endblock %}


{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery-ui-custom.min.js') }}"></script>
    <script src="{{ asset('js/messages.js') }}"></script>
{% endblock %}