{#

Copyright (C) 2015 Rémi Patrizio

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

<aside>

	<a class="sheet btn" href="{{ path('pilote_message_index') }}">
		<span class="glyphicon glyphicon-inbox"></span> Boîte de réception
	</a>
	<br>

	{# Discussion liées aux projets de l'utilisateur : boardThreads #}
	{% if app.user.boards|length > 0 %}
	<div class="threadsList sheet">
		<strong>Discuter avec les membres des projets</strong>
		{% for board in app.user.boards %}
			{% include 'PiloteMessageBundle::sidebarItem.html.twig' 
				with {'thread': board.thread, 'text': board} %}
		{% else %}
			<br><br>Vous n'êtes associé à aucun projet.
		{% endfor %}
	</div>
	<br>
	{% endif %}

	{# Discussion simples entre les utilisateurs : simpleThreads #}
	<div class="threadsList sheet">
	<strong>Discussions privées</strong>
	{% for thread in app.user.threads if thread.type == simpleThread %}
		{% include 'PiloteMessageBundle::sidebarItem.html.twig' 
			with {'thread': thread, 'text': thread.participants|join(', ') } %}
	{% else %}
		<br><br>Aucune discussion privée.
	{% endfor %}
	</div>
	<br>

	<div class="sheet">
		<strong>Créer une nouvelle discussion</strong>
		<form id="newThread" action="{{ path('pilote_message_newThread') }}" role="form" method="POST" class="form-inline">
			<input id="autocompNewThread" name="newThread" type="text" class="form-control" placeholder="Rechercher">
			<button type="submit" class="btn btn-default">Discuter</button>
			<input type="hidden" name="userId" id="userId">
		</form>
	</div>
	<br>
	
	{# Discussion entre l'utilisateur et les admins : adminThreads #}
	{% if is_granted('ROLE_ADMIN') %}
	<div class="threadsList sheet">
		<strong>Demandes d'aide aux administrateurs</strong>
		{% for thread in app.user.threads if thread.type == adminThread %}
			{% include 'PiloteMessageBundle::sidebarItem.html.twig' 
				with {'thread': thread, 'text': thread.creator} %}
		{% endfor %}
	</div>
	{% else %}
	<div class="sheet">
		<a href="{{path('pilote_message_adminThread')}}">Contacter les administrateurs</a>
	</div>
	{% endif %}

</aside>