{#

Copyright (C) 2015 Rémi Patrizio

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

{% extends "PiloteMainBundle::base.html.twig" %}

{% block pageTitle %} {{ parent() }} - Page introuvable{% endblock %}

{% block body %}

{% include 'PiloteMainBundle::nonAuthentNavbar.html.twig' %}

<br>
<section class="container">
	<div class="row">
		<article class="sheet col-md-6 col-md-offset-3">
			<h1>Oups ! Une erreur interne du serveur s'est produite.</h1>
			<h3>Le serveur a retourné une erreur 500.</h3>
			<br>
			<a class="btn btn-primary" href="{{path('pilote_default')}}">Retourner à la page principale.</a>
		</article>
	</div>
</section>

{% endblock %}