{#

Copyright (C) 2015 Hamza Ayoub, Valentin Chareyre, Sofian Hamou-Mamar, 
Alain Krok, Wenlong Li, Rémi Patrizio, Yamine Zaidou

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

<div class="tab-pane {%if activeStep %}active{% endif %}" id="tab-{{ step.id }}"
	style="width: {{step.tLists|length * 265 + 265}}px;">
  	{% for tList in step.tLists %} {# Pour chaque liste #}
  		{% include 'PiloteTaskerBundle:Main:tList.html.twig' 
			with {'tList': tList} %}
	{% endfor %} {# Fin "pour chaque liste" #}
	<div id="addListBtn-{{step.id}}" class="addListBtn panel"> 
		<p>Ajouter une nouvelle liste</p> {# panel pour ajouter une nouvelle liste #}
		<span class="glyphicon glyphicon-plus"></span>
	</div>
</div>