{% extends "::base.html.twig" %}

{% block body %}
	<ul>
	{% for board in boardList %}
		<li>
			<a href="{{ path('piltasker_board', { 'boardId': board.id }) }}">
				<b>{{ board }}</b> : {{ board.description }}
			</a>
		</li>
	{% endfor %}
	</ul>
{% endblock %}