{% extends "PILAdminBundle::baseAdmin.html.twig" %}

{% block body %}
<div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Administration <small>Dashboard</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Bienvenue dans l'administration du projet PILote. Vous pouvez gérer toutes sortes de données du site !
            </div>
          </div>
        </div><!-- /.row -->
        
        <div class="row">
          <div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">563</p>
                    <p class="announcement-text">Messages envoyés !</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-check fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">127</p>
                    <p class="announcement-text">Projets en cours</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-tasks fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">181</p>
                    <p class="announcement-text">Tâches en cours de réalisation</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">568</p>
                    <p class="announcement-text">Utilisateurs !</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
</div>
{% endblock %}
