{% extends 'PiloteMainBundle::base.html.twig' %}

{% block body -%}
    <h1>Step creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('crud_step') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
