{% extends "PILMessageBundle::layout.html.twig" %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>

<form action="{{ url('fos_message_thread_new') }}" method="post">
    {{ form_widget(form) }}

    <input class="btn btn-primary" type="submit" />
    
    <p> fichier à modifier : PIL/MessageBundle/Ressources/Views/Message/newThread.html.twig</p>
</form>

{% endblock %}
